*{
	box-sizing: border-box;
	margin: 0;
}

body{
	background-image: url("images/main-photo.jpg");
	background-color: black;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: left;
}

.linker{
	font-size: 20px;
	color: #CADBE7;
	width: 50vw;
}

nav{
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100vw;
	overflow: hidden;
}

ul{
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-height: 0px;
	background-color: #00131C;
	color: #75A4C5;
	padding-left: 40px;
	padding-right: 40px;
	transition: max-height 0.5s, padding 0.5s;
}

li{
	list-style: none;
}

label{
	margin: 10px;
	width: 50px;
	height: 50px;
	border-top: #507FA9 solid 25px;
	border-right: #507FA9 solid 25px;
	border-bottom: #507FA9 solid 25px;
	border-left: transparent solid 25px;
	position: fixed;
	right: 0;
	z-index: 4;
	color: white;
}

#button{
	display: none;
}

#button:checked ~ ul{
	max-height: 500px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.head-quote{
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	padding: 25px;
	border: solid #00131C 8px;
}

.quote-text{
	color: rgb(228, 229, 235);
	font-size: 60px;
	font-weight: 900;
	text-shadow: 1.5px 1.5px black ;
}

@media (min-width: 480px){

	body{
		background-position: right;
	}

}

