*{
	box-sizing: border-box;
	margin: 0;
}

.main-body{
	background-image: url("images/main-photo.jpg");
	background-color: black;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: left;
}

.cat-body{
	background-image: url("images/crack.jpeg");
	background-color: #002C31;
	border: solid #00131C 8px;
}

.table-body{
	background-color: #00131C;
	color: white;
	padding: 20px;
}

.linker{
	font-size: 20px;
	color: #CADBE7;
	width: 50vw;
}

nav{
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100vw;
	overflow: hidden;
}

ul{
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-height: 0px;
	background-color: #00131C;
	color: #CADBE7;
	padding-left: 40px;
	padding-right: 40px;
	transition: max-height 0.5s, padding 0.5s;
}

li{
	padding: 5px;
	list-style: none;
}
li:hover{
	background-color: #004347;
}

a, a:link, a:visited{
	color: #CADBE7;
	text-decoration: none;
}

.list-icon{
	margin: 10px;
	width: 50px;
	height: 50px;
	border-top: #507FA9 solid 25px;
	border-right: #507FA9 solid 25px;
	border-bottom: #507FA9 solid 25px;
	border-left: transparent solid 25px;
	position: fixed;
	right: 0;
	z-index: 10;
	color: white;
	transition: 0.5s;
}

#button{
	display: none;
}

#button:checked ~ ul{
	max-height: 500px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#button:checked ~ label{
	transform: rotate(-90deg);
}

.head-quote{
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	padding: 25px;
	border: solid #00131C 8px;
}

.quote-text{
	color: rgb(228, 229, 235);
	font-size: 52px;
	font-weight: 900;
	text-shadow: 1.5px 1.5px black ;
}

.cat-container{
	background-color: rgba(0, 44, 49, 0.4);
}

.cat-parent{
	min-height: calc(100vh - 16px);
        width: 80vw;
        margin: auto;
        background-color: #00131C;
}

.about{
	color: white;
	padding: 40px;
}

.cat-h{
	margin: 0;
}

.card-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
	position: relative;
	z-index: 1;
}

#first{
	background-image: url("images/test6.jpg");
}

#second{
	background-image: url("images/test5.jpeg");
}

#third{
	background-image: url(images/test4.jpeg);
}

#fourth{
	background-image: url(images/test3.jpg);
}

#fifth{
	background-image: url("images/test2.jpg");
}

#sixth{
	background-image: url("images/test1.jpeg");
}

#seventh{
	background-image: url("images/test7.jpg");
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 260px;
	width: 260px;
	color: rgb(228, 229, 235);
	font-size: 26px;
	font-weight: 900;
	text-shadow: 1.5px 1.5px black;
	background-size: cover;
	margin: 10px;
	padding: 30px;
}

.card-num{
	text-align: right;
}

.card::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	height: 230px;
	width: 230px;
	border: #CADBE7 solid 2px;

}

.card::before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 6px;
	left: 6px;
	height: 260px;
	width: 260px;
	background-color: #002C31;
}

.table-section{
	overflow-x: auto;
}

@media (min-width: 480px){

	.main-body{
		background-position: right;
	}

	ul{
		flex-direction: row;
		justify-content: space-around;
	}
	
	#button:checked ~ ul{
		padding-top: 25px;
                padding-bottom: 25px;
	}

	.quote-text{
		font-size: 60px;
		margin-top: 10px;
	}
}

